/.quarto/
/datos/
/.Rhistory/
/.Rproj.user
.Rproj.user/52B9D855/pcs/source-pane.pper
/r_fe3/
.Rproj.user/52B9D855/pcs/files-pane.pper
.Rproj.user/52B9D855/pcs/source-pane.pper
.Rproj.user/52B9D855/sources/prop/13973C4E
.Rproj.user/52B9D855/sources/prop/94F0EC74
.Rproj.user/52B9D855/sources/prop/ACF6BE9B
.Rproj.user/52B9D855/sources/prop/C02009D0
.Rproj.user/52B9D855/sources/prop/INDEX
.Rproj.user/52B9D855/sources/session-ae6744fa/94510377
.Rproj.user/52B9D855/sources/session-ae6744fa/94510377-contents
.Rproj.user/52B9D855/sources/session-ae6744fa/ADFF63ED
.Rproj.user/52B9D855/sources/session-ae6744fa/ADFF63ED-contents
.Rproj.user/52B9D855/sources/session-ae6744fa/B9FB1ED6
.Rproj.user/52B9D855/sources/session-ae6744fa/B9FB1ED6-contents
.Rproj.user/52B9D855/sources/session-ae6744fa/DE6D06E0
.Rproj.user/52B9D855/sources/session-ae6744fa/DE6D06E0-contents
.Rproj.user/52B9D855/sources/session-ae6744fa/F2DD2379
.Rproj.user/52B9D855/sources/session-ae6744fa/F2DD2379-contents
.Rproj.user/52B9D855/sources/session-ae6744fa/lock_file
.Rproj.user/shared/notebooks/AB79C2E8-index/1/52B9D855ae6744fa/chunks.json
.Rproj.user/shared/notebooks/AB79C2E8-index/1/s/chunks.json
.Rproj.user/shared/notebooks/FA7B54E4-P1/1/52B9D855ae6744fa/chunks.json
.Rproj.user/shared/notebooks/FA7B54E4-P1/1/s/chunks.json
.Rproj.user/shared/notebooks/paths
dataMaid_dplyr__select_ejemplo_csv__starts_with__P4___.html
dataMaid_dplyr__select_ejemplo_csv__starts_with__P4___.Rmd
dataMaid_ejemplo_csv.html
dataMaid_ejemplo_csv.Rmd
EDA.R
.Rhistory
.Rproj.user/52B9D855/pcs/source-pane.pper
.Rproj.user/52B9D855/sources/prop/13973C4E
.Rproj.user/52B9D855/sources/prop/INDEX
.Rproj.user/shared/notebooks/AB79C2E8-index/1/s/chunks.json
.Rproj.user/shared/notebooks/FA7B54E4-P1/1/s/chunks.json
.Rproj.user/shared/notebooks/paths
.Rproj.user/52B9D855/pcs/files-pane.pper
.Rproj.user/52B9D855/pcs/files-pane.pper
